{% extends 'creator/base.html' %}
{% load static %}
{% block content %}

<div class="col-xl-12 order-xl-1">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Edit profile </h3>
        </div>
        <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Edit</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="pl-lg-4">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Full Name</label>
                <input type="text" class="form-control" name="fullname" placeholder="First name"
                  value="{{request.user.first_name}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Username</label>
                <input type="text" id="input-username" class="form-control" name="username" placeholder="Username"
                  value="{{request.user}}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Email Address</label>
                <input type="email" id="input-email" class="form-control" name="email" placeholder="Email Address" value="{{request.user.email}}">
              </div>
            </div>
          </div>
        </div>

        <hr class="my-4" />
        <!-- Description -->
        <div class="pl-lg-4">
          <div class="form-group">
            <label class="form-control-label">About Me</label>
            <textarea rows="4" name="aboutme" class="form-control"
              placeholder="A few words about you ...">{{extra_details.about_me}}</textarea>
          </div>
        </div>
        <button>Update Profile</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}