{% extends 'consumer/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
       <div class="iq-card">
          <div class="iq-card-body p-0">
             <div class="iq-edit-list">
                <ul class="iq-edit-profile d-flex nav nav-pills">
                   <li class="col-md-6 p-0">
                      <a class="nav-link" href="/edit_profile/{{request.user.id}}">
                      Personal Information
                      </a>
                   </li>
                   <li class="col-md-6 p-0">
                      <a class="nav-link active" href="/change_password/{{request.user.id}}">
                      Change Password
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>

    <div class="col-lg-12">
       <div class="iq-edit-list-data">
          <div class="tab-content">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Change Password</h4>
                   </div>
                </div>
                <div class="iq-card-body">
                   <form method="POST">
                      {% csrf_token %}
                        <!-- <div class="form-group">
                           <label for="cpass">Current Password:</label>
                           <a href="javascripe:void();" class="float-right">Forgot Password</a>
                           <input type="Password" class="form-control" name="current_password" id="cpass" value="">
                        </div> -->
                        <div class="form-group">
                           <label for="npass">New Password:</label>
                           <input type="Password" class="form-control" name="new_password" id="npass" value="">
                        </div>
                        <div class="form-group">
                           <label for="vpass">Verify Password:</label>
                           <input type="Password" class="form-control" name="verify_password" id="vpass" value="">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                     </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock content %}